<%- include('./partials/head') %>
<%- include('./partials/header') %>
<%- include('./partials/aside') %>

    <section class='main'>
      <h2><%= title %></h2>
      <form method='post' class='delete-form'>
        <div>
          <p>Are you sure you want to delete <strong><%= title %></strong> and all of it's contents?</p>
          <p>If not move files you wish to keep to another location.</p>
          <p>This action is permanent</p>
        </div>
        <div class='button-div'>
          <button type='submit' class='deleteBtn'>Delete</button>
          <button type='button' class='cancelBtn'>Cancel</button>
        </div>

      </form>

      <div class='list-wrapper'>
        <% if (file_list.length !== 0) { %>
          <div class='list-div'>
            <div class='item-row-header'>
              <p>Name</p>
              <p>Last Modified</p>
              <p>Type</p>
              <p>Size</p>
            </div>

            <% file_list.forEach(file => { %>
              <div class='item-row'>
                <p>
                  <img src='/images/file-icon.png' alt='Add file'>
                  <%= file.filename %>
                </p>
                <p><%= convertDateFromDb(file.last_modified) %></p>
                <p><%= file.mime_type %></p>
                <p><%= file.file_size %></p>
                <span class='right-justify'>
                  <img src='/images/edit-icon.png' alt='Edit file name'>
                  <img src='/images/delete-icon.png' alt='Delete file'>
                  <img src='/images/download-icon.png' alt='Download file'>
                </span>
                <span class='right-justify'>
                  <img src='/images/menu-vertical.png' alt='File menu'>
                </span>
              </div>
            <% }) %>
          </div>
          <% } else { %>
            <div>No files or folders to display</div>
        <% } %>
          
      </div>
    </section>



<%- include('./partials/footer') %>