<%- include('./partials/head') %>
<%- include('./partials/header') %>
<%- include('./partials/aside') %>

    <section class='main'>
        <div class='list-wrapper'>
            <div class='folder-div'>
                <p>folders here</p>
            </div>

            <div class='list-div'>
                <div class='item-row-header'>
                    <p>Name</p>
                    <p>Last Modified</p>
                    <p>Type</p>
                </div>
            
                <% file_list.forEach(file => { %>
                 <div class='item-row'>
                     <p>
                        <img src='/images/file-icon.png' alt='Add file' width='20px'>
                        <%= file.filename %></p>
                     <p><%= convertDate(file.last_modified) %></p>
                     <p><%= file.mime_type %></p>
                     <p>Space reserved for file actions</p>
                 </div>
                <% }) %>
            </div>
        </div>
    </section>



<%- include('./partials/footer') %>