<%- include('./partials/head') %>
<%- include('./partials/header') %>
<%- include('./partials/aside') %>

    <section class='main'>
        <div class='list-wrapper'>
            <% if ((file_list.length !== 0) || (folder_list.length !== 0)) { %>
                <div class='list-div'>
                    <div class='item-row-header'>
                        <p>Name</p>
                        <p>Last Modified</p>
                        <p>Type</p>
                        <p>Size</p>
                    </div>

                    <% folder_list.forEach(folder => { %>
                     <div class='item-row'>
                        <a href='/folder/<%= folder.id %>'>
                            <p>
                               <img src='/images/folder-filled-icon.png' alt='Add folder'>
                               <%= folder.folder_name %>
                            </p>
                        </a>
                        <p><%= convertDate(folder.last_modified) %></p>
                        <span></span>
                        <span>&boxh;</span>
                         <span class='right-justify'>
                            <img src='/images/edit-icon.png' alt='Edit file name'>
                            <img src='/images/delete-icon.png' alt='Delete file'>
                            <img src='/images/download-icon.png' alt='Download file'>
                         </span>
                         <span class='right-justify'>
                            <img src='/images/menu-vertical.png' alt='File menu'>
                         </span>
                     </div>
                    <% }) %>

                
                    <% file_list.forEach(file => { %>
                        <% if (file.folderId === null) { %>
                            <div class='item-row'>
                                <p>
                                    <img src='/images/file-icon.png' alt='Add file'>
                                    <%= file.filename %>
                                </p>
                                <p><%= convertDate(file.last_modified) %></p>
                                <p><%= file.mime_type %></p>
                                <p><%= file.file_size %></p>
                                <span class='right-justify'>
                                    <img src='/images/edit-icon.png' alt='Edit file name'>
                                    <img src='/images/delete-icon.png' alt='Delete file'>
                                    <img src='/images/download-icon.png' alt='Download file'>
                                </span>
                                <span class='right-justify'>
                                    <img src='/images/menu-vertical.png' alt='File menu'>
                                </span>
                                </div>
                        <% } %>
                    <% }) %>
                </div>
                <% } else { %>
                 <div>No files or folders to display</div>
            <% } %>
            
        </div>
    </section>



<%- include('./partials/footer') %>